body {
    margin: 0;
}

header {
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

h1 {
    margin: 0;
    font: 5rem Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

h1 span:nth-child(1) {
    color: rgb(191, 33, 33);
}

h1 span:nth-child(2) {
    color: rgb(49, 133, 192);
}

h1 span:nth-child(3), h1 span:nth-child(7) {
    color: rgb(236, 132, 40);
}

h1 span:nth-child(4) {
    color: rgb(232, 130, 191);
}

h1 span:nth-child(5) {
    color: rgb(90, 198, 84);
}

h1 span:nth-child(6) {
    color: rgb(61, 137, 83);
}

h1 span:nth-child(8) {
    color: rgb(137, 194, 194);
}

h1 span:nth-child(9) {
    color: rgb(191, 133, 193);
}

h1 span:nth-child(10) {
    color: rgb(86, 135, 136);
}

h1 span:nth-child(11) {
    color: rgb(225, 39, 39);
}

h2 {
    color: rgb(39, 39, 39);
    font: 1.5rem Arial, Verdana, sans-serif;
    margin: 0;
}

header button {
    font: 1rem Arial, Verdana, sans-serif;
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.thank-you-message__form {
    margin: 2rem auto;
    width: 30rem;
    display: none;
}

.thank-you-message__form--displayed {
    display: block;
}

.thank-you-message__inputs-box {
    padding-bottom: 0.2rem;
    border: 1px solid rgb(167, 167, 167);
}

.thank-you-message__message,
.thank-you-message__name {
    box-sizing: border-box;
    padding: 0.5rem;
    font: 0.9rem Arial, Verdana, sans-serif;
    border: 0;
    background-color: transparent;
    width: 100%;
}

.thank-you-message__message:focus,
.thank-you-message__name:focus {
    outline: none;
}

.thank-you-message__message {
    height: 8rem;
    resize: none;
    border-bottom: 1px dashed rgb(167, 167, 167);
}

.thank-you-message__submit-box {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.thank-you-message__characters-remaining {
    padding-top: 0.5rem;
    font: 0.9rem Arial, Verdana, sans-serif;
    color: rgb(50, 138, 250);
    flex: 4;
    text-align: left;
}

.thank-you-message__characters-remaining--zero {
    color: rgb(191, 33, 33);
}

.thank-you-message__submit {
    flex: 1;
    font: 0.9rem Arial, Verdana, sans-serif;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: rgb(39, 39, 39);
}

